// Import UIkit default theme (or uikit.less with only core styles)
@import "../src/less/uikit.theme.less";

// Your custom code goes here, e.g. mixins, variables.
// See "how to create a theme" below for more info.

// overlay

@global-primary-background: #F55F24;

@overlay-primary-background: fade(@global-primary-background, 70%);
//Link
@global-link-color: #F55F24;
@global-link-color-hover: #D53F00;

//Button
.hook-button() {
  border-radius: 5px;
}

.hook-button-primary() {
  background-color: #F55F24;
  background-image: linear-gradient(#F58F00, #F55F24);
}

.hook-button-primary-hover() {
  background-image: none;
  background-color: #F55F24;
}

.ent-list {
  margin-left: 30px !important;
}

.ent-list>li,
.ent-list {
  display: block;
  position: relative
}

.ent-list::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -24px;
  width: 2px;
  background-color: #F55F24;
  content: '';
}

.ent-list>li::after {
  position: absolute;
  top: 5px;
  left: -30px;
  height: 10px;
  width: 10px;
  border-radius: 150%;
  border: 2px solid #F55F24;
  background: #fff;
  content: '';
  z-index: 1;
}
