.ent-subnav {
  margin-bottom: 30px !important;

  li>a {
    text-transform: none !important;
  }

  li.uk-active {
    font-weight: 700;

  }
}

.ent-subnav.uk-subnav>* {
  padding-left: 40px;
}

span.uk-icon polygon {
  color: #FFC107;
  fill: #FFC107;
}
