// permet de créer un ellipsis sur un text à plusieurs lignes

.ent-card-ambition {
  max-width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.775rem;

  margin-top: 5px !important;
}

.ent-logo-hover:hover {
  opacity: .7;
  transition: .1s;
}

.ent-line-clamp-1,
.ent-line-clamp-2,
.ent-line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

.ent-line-clamp-1 {
  -webkit-line-clamp: 1;
}

.ent-line-clamp-2 {
  -webkit-line-clamp: 2;
}

.ent-line-clamp-3 {
  -webkit-line-clamp: 3;
}

// Margin supplémentaire

.ent-margin-top-xsmall {
  margin-top: 5px !important
}

.ent-margin-right-xsmall {
  margin-right: 5px !important
}

.ent-margin-left-xsmall {
  margin-left: 5px !important
}

.ent-margin-bottom-xsmall {
  margin-bottom: 5px !important
}

hr.uk-divider-small::after {
  border-top: 1px solid #f55f24;
}
